.search-input .clear-text{
    position: absolute;
    right: 7px;
    top: 9px;
    z-index: 3;
}

.input-group-append{
    margin-left: -1px;
    display: flex;
}

.search-input .clear-text img{
    width: 20px;
    height: 20px;
}

.spotlight-container{
    min-height: 83vh;
}

.spotlight-col{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 5px;
}

.spotlight-container .spotlight-cards{
    width: 100px;
    height: 100px;
}

.spotlight-container .spotlight-cards img{
    width: 100px !important;
    height: 100px !important;
}